* {
    margin: 0px;
    border: 1px solid black;

}

.header_contact {
    position: fixed;
    top: 0;
    left: 0;
    background-color: Yellow;
    width: 100%;
    text-align: center;
}

.header_a {
    margin-top: 35px;
    position: sticky;
    top: 0;
    left: 0;
    background-color: red;

}